<h2 mat-dialog-title>Crear Usuario</h2>
<form>
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" required>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button>Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Crear Usuario</button>
  </mat-dialog-actions>
</form>
