<h2 mat-dialog-title>Iniciar sesión</h2>
<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Correo electrónico</mat-label>
    <input matInput [(ngModel)]="username">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" [(ngModel)]="password">
  </mat-form-field>

  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onLogin()">Iniciar sesión</button>
</mat-dialog-actions>
